<div class="navbar navbar-dark bg-dark p-3">
  <a class="navbar-brand">SPORTS STORE</a>
</div>

<div class="row m-0">
  <div class="col-xl-2 p-3">
    <div class="d-flex flex-column">
      <button
        class="btn btn-block btn-outline-primary mb-3"
        [class.active]="selectedCategory === null"
        (click)="changeCategory()"
      >
        All categories
      </button>

      <button
        *ngFor="let category of categories"
        class="btn btn-outline-primary btn-block mb-3"
        [class.active]="category === selectedCategory"
        (click)="changeCategory(category)"
      >
        {{ category }}
      </button>
    </div>
  </div>

  <div class="col-xl-10 p-3">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div *ngFor="let product of products" class="col">
        <div class="card">
          <h4 class="card-header m-0">
            {{ product.name }}
            <span class="float-end badge rounded-pill bg-primary">
              {{ product.price | currency : 'USD' : true : '2.2-2' }}
            </span>
          </h4>

          <div class="card-body">
            <p class="card-text">
              {{ product.description }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-4">
      <div class="btn-group me-4">
        <button
          *ngFor="let page of pageNumbers"
          (click)="changePage(page)"
          class="btn btn-outline-primary"
          [class.active]="page === selectedPage"
        >
          {{ page }}
        </button>
      </div>

      <select
        name="pages"
        id="pagination"
        class="form-control w-auto"
        [value]="productPerPage"
        (change)="changePageSize($event)"
      >
        <option value="3">3 per page</option>
        <option value="4">4 per page</option>
        <option value="6">6 per page</option>
        <option value="8">8 per page</option>
      </select>
    </div>
  </div>
</div>
